/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* custom Properties */

:root {
  /* spacings */
  --main-container-padding: 20px 10px;
  --spacing-intro-wrappers: 15px;
  --overview-card-padding: 20px 15px;
  --overview-list-margin: 20px;

  /* widths and heights */
  --dashboard-container-max-width: 280px;

  /* colors */

  --clr-lime-green: hsl(163, 72%, 41%);
  --clr-bright-red: hsl(356, 69%, 56%);

  --clr-facebook: hsl(208, 92%, 53%);
  --clr-twitter: hsl(203, 89%, 53%);
  --clr-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --clr-youTube: hsl(348, 97%, 39%);

  /* dark theme toggle */
  --toggle-dark-theme: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  /* light theme */
  --toggle-light-theme: hsl(230, 22%, 74%);

  /* dark theme */
  --clr-very-dark-blue-backround: hsl(230, 17%, 14%);
  --clr-very-dark-blue-bg-pattern: hsl(232, 19%, 15%);
  --clr-dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
  --clr-desaturated-blue-text: hsl(228, 34%, 66%);
  --clr-white: hsl(0, 0%, 100%);

  /* light theme */
  --clr-white-background: hsl(0, 0%, 100%);
  --clr-very-pale-blue-bg-pattern: hsl(225, 100%, 98%);
  --clr-light-grayish-blue-card-bg: hsl(227, 47%, 96%);
  --clr-dark-grayish-blue-text: hsl(228, 12%, 44%);
  --clr-very-dark-blue-text: hsl(230, 17%, 14%);

  /* typography */
  --ff-Inter: "Inter", sans-serif;

  --fs-dashboard-title: 1.6rem;
  --fs-intro-wrappers: 1.3rem;
  --fs-followers-count: 3.2rem;
}

/* reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button,
a,
span,
input {
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

form,
input,
button,
select,
option {
  font: inherit;
}

:focus-visible {
  outline: 1px solid black;
  outline-offset: -3px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  scrollbar-width: thin;
  font-size: 62.5%;
}

body {
  --background: linear-gradient(to bottom, var(--clr-very-pale-blue-bg-pattern)30%, var(--clr-white)70%);

  min-height: 100vh;
  font-family: var(--ff-Inter);
  font-size: 1.4rem;
  background: var(--background);
}

/* utilitty  classes */

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-items-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.margin-inline-auto {
  margin-inline: auto;
}

.text-align {
  text-align: var(--position);
}

/* reused styles */

.total__followers__count,
.light__dark__mode__title {
  font-size: var(--fs-intro-wrappers);
  font-weight: 600;
}

.progress__positive {
  color: var(--clr-lime-green);
}

.progress__negative {
  color: var(--clr-bright-red);
}

.user__name,
.progress__count {
  font-size: 1.3rem;
  font-weight: 600;
}

.dashboard__social__card,
.overview__card {
  --background-color: var(--clr-light-grayish-blue-card-bg);

  background-color: var(--background-color);
  border-radius: 5px;
}

/* dark theme colors */

body.dark-theme {
  --background: linear-gradient(to bottom, hsl(230, 17%, 14%)30%,
      hsl(232, 19%, 15%)70%);
}

body.dark-theme .dashboard__title,
body.dark-theme .followers__count,
body.dark-theme .page__views_counter {
  --color: var(--clr-white);
}

body.dark-theme .total__followers__count,
body.dark-theme .light__dark__mode__title,
body.dark-theme .user__name,
body.dark-theme .followers__title,
body.dark-theme .page__view,
body.dark-theme .overview__title {
  color: var(--clr-desaturated-blue-text);
}

body.dark-theme .dashboard__social__card,
body.dark-theme .overview__card {
  --background-color: var(--clr-dark-desaturated-blue-card-bg);
}

body.dark-theme .toggle__button::before {
  --background-color: var(--clr-dark-desaturated-blue-card-bg);
}

body.dark-theme .dashboard__social__card:hover,
body.dark-theme .overview__card:hover {
  background-color: hsla(225, 20%, 40%, 0.6);
}

/* main styles */

.main-container {
  padding: var(--main-container-padding);
}


/* dashboard-inro */
.dashboard-container {
  max-width: var(--dashboard-container-max-width);
  gap: var(--gap);
}

.dashboard__title-wrapper {
  padding-block-end: var(--spacing-intro-wrappers);
  border-block-end: 1px solid var(--clr-very-dark-blue-backround);
}

.dashboard__title {
  --color: var(--clr-very-dark-blue-text);

  color: var(--color);
  font-size: var(--fs-dashboard-title);
}

.total__followers__count {
  --color: var(--clr-dark-grayish-blue-text);

  margin-block-start: 5px;
  color: var(--color);
}

.toggle__wrapper {
  margin-block-start: var(--spacing-intro-wrappers);
}

.light__dark__mode__title {
  --color: var(--clr-dark-grayish-blue-text);

  color: var(--color);
}

.toggle__checkbox {
  opacity: 0;
}

.toggle__button {
  --backgorund-color: var(--toggle-light-theme);

  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--backgorund-color);
}

.toggle__button::before {
  --background-color: var(--clr-white);

  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-color: var(--background-color);
  border-radius: 50%;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.toggle__checkbox:checked+.toggle__button::before {
  left: unset;
  right: 5%;
}

.toggle__checkbox:checked+.toggle__button {
  background: var(--toggle-dark-theme);
}

/* dashboard-social-list */

.dashboard__social__list {
  gap: var(--gap);
}

.dashboard__social__card {
  --gap: 20px;

  padding-block: 20px;
  gap: var(--gap);
  transition: background-color 300ms ease;
}

.dashboard__social__card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--border-top-color);
  top: -4px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body.light-theme .dashboard__social__card:hover,
body.light-theme .overview__card:hover {
  background-color: hsla(225, 4%, 60%, 0.3);
}

.social__brand__wrapper,
.progress__wrapper {
  --gap: 5px;

  gap: var(--gap);
}

.user__name {
  --color: var(--clr-dark-grayish-blue-text);

  color: var(--color);
}

.followers__count {
  --color: var(--clr-very-dark-blue-text);

  color: var(--color);
  font-size: var(--fs-followers-count);
  font-weight: 800;
}

.followers__title {
  --color: var(--clr-dark-grayish-blue-text);

  color: var(--color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/* dashboard overview */

.overview__title {
  --color: var(--clr-dark-grayish-blue-text);

  color: var(--color);
  font-size: var(--fs-dashboard-title);
}

.overview__list {
  margin-block-start: var(--overview-list-margin);
  gap: var(--gap);
}

.overview__card {
  padding: var(--overview-card-padding);
  gap: var(--gap);
}

.page__view {
  --color: var(--clr-dark-grayish-blue-text);

  color: var(--color);
  font-weight: 700;
}

.page__views_counter {
  --color: var(--clr-very-dark-blue-text);

  color: var(--color);
  font-weight: 800;
  font-size: 1.5rem;
}

/* media queries */

/* resposnive for devices more than 575px */
@media (min-width:575px) {
  :root {
    --dashboard-container-max-width: 480px;
    --spacing-intro-wrappers: 0;
  }

  .dashboard__social__list,
  .overview__list {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard__title-wrapper {
    border-block-end: 0;
  }

  .dashboard__intro {
    flex-direction: row;
    justify-content: space-between;
  }

  .toggle__wrapper {
    gap: 10px;
  }
}

/* resposnive for devices more than 768px */
@media (min-width:768px) {
  :root {
    --dashboard-container-max-width: 720px;
    --main-container-padding: 40px 10px;
  }

  .dashboard-container {
    gap: 30px;
  }

  .dashboard__social__list,
  .overview__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* resposnive for devices more than 992px */
@media (min-width:992px) {
  :root {
    --dashboard-container-max-width: 920px;
    --fs-dashboard-title: 1.9rem;
    --fs-intro-wrappers: 1.4rem;
    --overview-card-padding: 23px 20px;
    --fs-followers-count: 3.8rem;
  }

  .dashboard__social__list,
  .overview__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .followers__title {
    letter-spacing: 1.8px;
  }
}

/* resposnive for devices more than 1200px */
@media (min-width:1200px) {
  :root {
    --dashboard-container-max-width: 1000px;
  }

  .dashboard-container {
    gap: 40px;
  }

  .dashboard__social__list,
  .overview__list {
    gap: 25px;
  }
}